* {
  margin: 0;
  padding: 0;
}

.display-container {
  display: flex;
  margin: 50px 30px;
  padding: 10px;
  background-color: black;
  justify-content: center;
}

.display-container .display {
  color: white;
  font-size: 50px;
  letter-spacing: 10px;
}

.piano {
  display: flex;
  margin: 50px 30px;
  padding: 10px;
  background-color: black;
  justify-content: center;

  background: -moz-linear-gradient(
    left,
    rgba(233, 223, 196, 1) 0%,
    rgba(233, 223, 196, 1) 1%,
    rgba(237, 227, 200, 1) 2%,
    rgba(237, 227, 200, 1) 24%,
    rgba(235, 221, 195, 1) 25%,
    rgba(233, 223, 196, 1) 48%,
    rgba(235, 221, 195, 1) 49%,
    rgba(230, 216, 189, 1) 52%,
    rgba(230, 216, 189, 1) 53%,
    rgba(233, 219, 192, 1) 54%,
    rgba(230, 216, 189, 1) 55%,
    rgba(230, 216, 189, 1) 56%,
    rgba(233, 219, 192, 1) 57%,
    rgba(230, 216, 189, 1) 58%,
    rgba(230, 216, 189, 1) 73%,
    rgba(233, 219, 192, 1) 74%,
    rgba(233, 219, 192, 1) 98%,
    rgba(235, 221, 195, 1) 100%
  );

  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, rgba(233, 223, 196, 1)),
    color-stop(1%, rgba(233, 223, 196, 1)),
    color-stop(2%, rgba(237, 227, 200, 1)),
    color-stop(24%, rgba(237, 227, 200, 1)),
    color-stop(25%, rgba(235, 221, 195, 1)),
    color-stop(48%, rgba(233, 223, 196, 1)),
    color-stop(49%, rgba(235, 221, 195, 1)),
    color-stop(52%, rgba(230, 216, 189, 1)),
    color-stop(53%, rgba(230, 216, 189, 1)),
    color-stop(54%, rgba(233, 219, 192, 1)),
    color-stop(55%, rgba(230, 216, 189, 1)),
    color-stop(56%, rgba(230, 216, 189, 1)),
    color-stop(57%, rgba(233, 219, 192, 1)),
    color-stop(58%, rgba(230, 216, 189, 1)),
    color-stop(73%, rgba(230, 216, 189, 1)),
    color-stop(74%, rgba(233, 219, 192, 1)),
    color-stop(98%, rgba(233, 219, 192, 1)),
    color-stop(100%, rgba(235, 221, 195, 1))
  );

  background: -webkit-linear-gradient(
    left,
    rgba(233, 223, 196, 1) 0%,
    rgba(233, 223, 196, 1) 1%,
    rgba(237, 227, 200, 1) 2%,
    rgba(237, 227, 200, 1) 24%,
    rgba(235, 221, 195, 1) 25%,
    rgba(233, 223, 196, 1) 48%,
    rgba(235, 221, 195, 1) 49%,
    rgba(230, 216, 189, 1) 52%,
    rgba(230, 216, 189, 1) 53%,
    rgba(233, 219, 192, 1) 54%,
    rgba(230, 216, 189, 1) 55%,
    rgba(230, 216, 189, 1) 56%,
    rgba(233, 219, 192, 1) 57%,
    rgba(230, 216, 189, 1) 58%,
    rgba(230, 216, 189, 1) 73%,
    rgba(233, 219, 192, 1) 74%,
    rgba(233, 219, 192, 1) 98%,
    rgba(235, 221, 195, 1) 100%
  );

  background: -o-linear-gradient(
    left,
    rgba(233, 223, 196, 1) 0%,
    rgba(233, 223, 196, 1) 1%,
    rgba(237, 227, 200, 1) 2%,
    rgba(237, 227, 200, 1) 24%,
    rgba(235, 221, 195, 1) 25%,
    rgba(233, 223, 196, 1) 48%,
    rgba(235, 221, 195, 1) 49%,
    rgba(230, 216, 189, 1) 52%,
    rgba(230, 216, 189, 1) 53%,
    rgba(233, 219, 192, 1) 54%,
    rgba(230, 216, 189, 1) 55%,
    rgba(230, 216, 189, 1) 56%,
    rgba(233, 219, 192, 1) 57%,
    rgba(230, 216, 189, 1) 58%,
    rgba(230, 216, 189, 1) 73%,
    rgba(233, 219, 192, 1) 74%,
    rgba(233, 219, 192, 1) 98%,
    rgba(235, 221, 195, 1) 100%
  );

  background: -ms-linear-gradient(
    left,
    rgba(233, 223, 196, 1) 0%,
    rgba(233, 223, 196, 1) 1%,
    rgba(237, 227, 200, 1) 2%,
    rgba(237, 227, 200, 1) 24%,
    rgba(235, 221, 195, 1) 25%,
    rgba(233, 223, 196, 1) 48%,
    rgba(235, 221, 195, 1) 49%,
    rgba(230, 216, 189, 1) 52%,
    rgba(230, 216, 189, 1) 53%,
    rgba(233, 219, 192, 1) 54%,
    rgba(230, 216, 189, 1) 55%,
    rgba(230, 216, 189, 1) 56%,
    rgba(233, 219, 192, 1) 57%,
    rgba(230, 216, 189, 1) 58%,
    rgba(230, 216, 189, 1) 73%,
    rgba(233, 219, 192, 1) 74%,
    rgba(233, 219, 192, 1) 98%,
    rgba(235, 221, 195, 1) 100%
  );

  background: linear-gradient(
    left,
    rgba(233, 223, 196, 1) 0%,
    rgba(233, 223, 196, 1) 1%,
    rgba(237, 227, 200, 1) 2%,
    rgba(237, 227, 200, 1) 24%,
    rgba(235, 221, 195, 1) 25%,
    rgba(233, 223, 196, 1) 48%,
    rgba(235, 221, 195, 1) 49%,
    rgba(230, 216, 189, 1) 52%,
    rgba(230, 216, 189, 1) 53%,
    rgba(233, 219, 192, 1) 54%,
    rgba(230, 216, 189, 1) 55%,
    rgba(230, 216, 189, 1) 56%,
    rgba(233, 219, 192, 1) 57%,
    rgba(230, 216, 189, 1) 58%,
    rgba(230, 216, 189, 1) 73%,
    rgba(233, 219, 192, 1) 74%,
    rgba(233, 219, 192, 1) 98%,
    rgba(235, 221, 195, 1) 100%
  );

  background-size: 120px;
  background-repeat: repeat;
}

.piano .key {
  height: 160px;
  width: 60px;
  background-color: whitesmoke;
  border: 1px solid black;
  box-sizing: border-box;
  z-index: 1;
}

.piano .key:active {
  background-color: chartreuse;
}

.piano .sharp {
  height: 120px;
  width: 40px;
  background-color: black;
  border: 1px solid black;
  z-index: 2;
}

.piano .subkey {
  display: flex;
  position: relative;
}

.piano .sharp {
  position: absolute;
  left: calc(50% + 10px);
}

.piano .onKey {
  background-color: chartreuse;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  margin: 50px 30px;
  padding: 10px;
  background-color: black;
  justify-content: center;
}

.buttons-container .buttons-Controls-Container {
  margin: 10px auto;
}

.buttons-container button {
  height: 50px;
  width: 200px;
}
